body{
    background-image: url('bg.jpg');
    margin-top: 0px;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(66, 57, 57, 0.692);
    background-size: center;
}

.container{
    justify-content: center;
}

form{
    background-color: rgba(179, 185, 203, 0.6);
    
}
.row{
    margin-top: 20px;
}

.logo{
    width: 500px;
    height: auto;

}

h1{
    text-align: center;
    color: #fff;
    background-color: #152d57;
    border-radius: 30px;
}